
.main-form{
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.form{
    font-size: 20px;
    font-family: serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label{
    font-weight: 600;
    font-style: inherit;
}
.form input{
    font-size: 20px;
    color: rgb(75, 75, 75);
    font-family: serif;
}

.btn{
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: end;
}

.button{
    font-size: 22px;
    font-family: serif;
    font-weight: 700;
    padding: 10px;
    color: red;
    width: 25%;
    cursor: pointer;
    border-radius: 16px;
    border: none;
    background-color: blue;
}

