*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #e7a0f5 0%, #ffe713 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.container {
    /* position: absolute;
    left: 50%;
    top: 10rem; */

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    height: 45rem;
    width: 45rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.dice {
    height: 20rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}
.btn {
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;

    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 2rem 3rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}